﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Maximiliano Elias Alvarez<br />
    C.A.B.A, Buenos Aires, Argentina<br />
    <abbr title="Telefono">Telefono:</abbr>
    11-6850-2433
</address>

<address>
    <strong>Email Personal:</strong> <a href="mailto:maximilianoe.alvarez@yahoo.com.ar">Maximilianoe.alvarez@yahoo.com.ar</a><br />
</address>
